doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(type="text/javascript", src="/javascripts/build/react.js")
		script(type="text/javascript", src="/javascripts/build/JSXTransformer.js")

		script(type="text/javascript", src="/javascripts/log-parser.js")
		script(type="text/jsx", src="/javascripts/workout-app.js")

	body
	block content